<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Livros</h1>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th><%= @books.model.human_attribute_name(:title) %></th>
        <th><%= @books.model.human_attribute_name(:author) %></th>
        <th><%= @books.model.human_attribute_name(:publisher) %></th>
        <th><%= @books.model.human_attribute_name(:published_at) %></th>
        <th><%= @books.model.human_attribute_name(:edition) %></th>
        <th><%= @books.model.human_attribute_name(:book_type) %></th>
        <th><%= @books.model.human_attribute_name(:subject) %></th>
        <th><%= @books.model.human_attribute_name(:active_loan) %></th>
        <th>
          <%= link_to new_admins_backoffice_book_path, class:"btn btn-success btn-circle btn-sm" do %>
            <i class="fa fa-plus"></i>
          <% end %>                
        </th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td>
          <% book.authors.each do |i| %>
            <p>
              <%= i.description %>          
            </p>
          <% end %>
        </td>
        <td><%= book.publisher.description %></td>
        <td><%= book.published_at %></td>
        <td><%= book.edition %></td>
        <td><%= book.book_type.description %></td>
        <td>
          <% book.subjects.each do |i| %>
            <p>
              <%= i.description %>
            </p>          
          <% end %>          
        </td>
        <td><%= human_boolean(book.active_loan) %></td>
        <td style="width: 90px">
          <%= link_to edit_admins_backoffice_book_path(book), 
            class:"btn btn-primary btn-circle btn-sm" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to admins_backoffice_book_path(book), 
            method: :delete, 
            class:"btn btn-danger btn-circle btn-sm", 
            data: { confirm: "Tem certeza?"} do %>
            <i class="fa fa-minus"></i>
          <% end %>
          </button>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @books %>
</div>