<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header"><%= action_message %></h1>
  </div>
</div>

<div class="row">  
  <% if @book.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>        
      </ul>
    </div>  
  <% end %>  
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <%= form_with(model: [ :admins_backoffice, @book ], local: true) do |form| %>
              <div class="form-group">
                <%= form.label :title %>
                <%= form.text_field :title, class:"form-control", placeholder:"Digite o título" %>
              </div>
              <div class="form-group">
                <%= form.label :author %>
                <%= form.collection_select(:author_ids, @authors.order('description'), :id, :description, { include_blank: 'Selecione...'}, class:"form-control", multiple: true) %>
              </div>
              <div class="form-group">
                <%= form.label :publisher %>
                <%= form.collection_select(:publisher_id, @publishers.order('description'), :id, :description, { include_blank: 'Selecione...'}, class:"form-control") %>
              </div>
              <div class="form-group">
                <%= form.label :published_at %>
                <%= form.text_field :published_at, class:"form-control", placeholder:"Digite o ano de publicação" %>
              </div>
              <div class="form-group">
                <%= form.label :edition %>
                <%= form.text_field :edition, class:"form-control", placeholder:"Digite a edição" %>
              </div>
              <div class="form-group">
                <%= form.label :book_type %>
                <%= form.collection_select(:book_type_id, @book_types.order('description'), :id, :description, { include_blank: 'Selecione...'}, class:"form-control") %>                              
              </div>              
              <div class="form-group">
                <%= form.label :subject %>
                <%= form.collection_select(:subject_ids, @subjects.order('description'), :id, :description, { include_blank: 'Selecione...'}, class:"form-control", multiple: true) %>
              </div>
              <% if @book.id? %>
                <div class="form-group">                
                  <%= form.label :activeLoan %>
                  <%= form.text_field :activeLoan, class:"form-control", disabled: true %>
                </div>
              <% end %>
              <button type="submit" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">Salvar</span>
              </button>
              <%= link_to "Voltar", admins_backoffice_books_path, class:"btn btn-primary text-white-100" %>
            <% end %>            
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>

