<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PersonalLibrary</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/css/sb-admin-2.css" integrity="sha512-gOfBez3ehpchNxj4TfBZfX1MDLKLRif67tFJNLQSpF13lXM1t9ffMNCbZfZNBfcN2/SaWvOf+7CvIHtQ0Nci2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    'admin_devise' %>
</head>

<body class="bg-gradient-primary">
  <div class="container">
    <%= yield %>    
  </div>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'admin_devise' %>

  <% if flash %>
    <% flash.each do |key, value| %>
      <script>
        $.bootstrapGrowl('<%= value %>', {
        type: 'danger', // (null, 'info', 'danger', 'success')
        align: 'right', // ('left', 'right', or 'center')
        allow_dismiss: true, // If true then will display a cross to close the popup.
        stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
      </script>
    <% end %>
  <% end %>
</body>

</html>